@import '../common';

.navbar {
  width: 80rem;
  background-color: $bgColor;
  padding-left: 1.5rem;
  padding-top: 1.25rem;

  .navbar__nav-links,
  .navbar__logo {
    display: inline-block;
  }

  .navbar__logo a img {
      height: 4rem;
  }

  .navbar__nav-links {
    text-align: right;
  }

  .navbar__nav-links div {
    display: inline-block;
  }

  .navbar__nav-links div span {
    font-family: "Soleto Regular";
    color: $darkTextColor;
    margin-top: 0.3125rem;
    margin-bottom: 0;
    display: block;
  }

  .prices__buy_price, .nav-links__login {
    border-right: 1px $darkTextColor solid;
    padding-right: 0.75rem;
    margin-right: 0.5rem;
    height: 2.25rem;
  }

  .prices__sell_price, .nav-links__register {
    margin-right: 1.5rem;
  }

  .navbar__nav-links div a button{
    color: $darkTextColor;
    font-size: 1.25rem;
    margin: 0 0 0.5rem 0;
    text-transform: none;
  }

  .nav-links__register {
    font-family: "Soleto Bold";
  }
}
